<% provide(:title, 'Wedding Party') %>

<%= image_tag("Party2.jpg", alt: "Carly & Cory", :class => "headerPhoto") %>

<h1>Wedding Party</h1>
<h2>Bridesmaids</h2>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2">
		</div>
		<div class="span3">
			<%= image_tag("Stacy.jpg", alt: "", :class => "party") %>
		</div>
		<div class="span2">
		</div>
		<div class="span3">
			<h3>Stacy Sewell</h3>
			<p class="partyText">Sister and best friend. The best maid of honor in the world. Thankful for her constant friendship. Could not have hand picked a better sister!</p>
		</div>
		<div class="span2">
		</div>
	</div>
	<br></br>
	<div class="row-fluid">
		<div class="span2">
		</div>
		<div class="span3">
			<%= image_tag("Jess.jpg", alt: "", :class => "party") %>
		</div>
		<div class="span2">
		</div>
		<div class="span3">
			<h3>Jess Wardell</h3>
			<p class="partyText">Best friend. Co-Paris traveler. Incredible teacher and wife. Has a beautiful heart for the Lord and for children.</p>
		</div>
		<div class="span2">
		</div>
	</div>
	<br></br>
	<div class="row-fluid">
		<div class="span2">
		</div>
		<div class="span3">
			<%= image_tag("Leah.jpg", alt: "", :class => "party") %>
		</div>
		<div class="span2">
		</div>
		<div class="span3">
			<h3>Leah Zipper</h3>
			<p class="partyText">An old roomie and best friend. Lover of Jesus, fashion, cats, and Oscar. Party planner. Can make anyone laugh.</p>
		</div>
		<div class="span2">
		</div>
	</div>
	<br></br>
	<div class="row-fluid">
		<div class="span2">
		</div>
		<div class="span3">
			<%= image_tag("Melissa.jpg", alt: "", :class => "party") %>
		</div>
		<div class="span2">
		</div>
		<div class="span3">
			<h3>Melissa Allred</h3>
			<p class="partyText">Cousin. Best Friend. Future mommy to Keaton Parker. Provides much joy and laughter to our family. Thankful Logan married you. ;)</p>
		</div>
		<div class="span2">
		</div>
	</div>
	<br></br>
	<div class="row-fluid">
		<div class="span2">
		</div>
		<div class="span3">
			<%= image_tag("Christin.jpg", alt: "", :class => "party") %>
		</div>
		<div class="span2">
		</div>
		<div class="span3">
			<h3>Christin Akin</h3>
			<p class="partyText">Teacher and Friend. Newlywed. Encourager. Spiritual influence.</p>
		</div>
		<div class="span2">
		</div>
	</div>
</div>
<br></br>

<h2>Groomsmen</h2>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2">
		</div>
		<div class="span3">
			<%= image_tag("Tyler.JPG", alt: "", :class => "party") %>
		</div>
		<div class="span2">
		</div>
		<div class="span3">
			<h3>Tyler Mikell</h3>
			<p class="partyText">My brother has been with me through it all. We played every sport together, had the same friends, and wore matching clothes (thanks mom and dad). Couldn't imagine life without this guy.</p>
		</div>
		<div class="span2">
		</div>
	</div>
	<br></br>
	<div class="row-fluid">
		<div class="span2">
		</div>
		<div class="span3">
			<%= image_tag("Ryan.jpg", alt: "", :class => "party") %>
		</div>
		<div class="span2">
		</div>
		<div class="span3">
			<h3>Ryan Delk</h3>
			<p class="partyText">To this day, Carly questions whether I would rather talk with her or Ryan. He is one person who will tell me what I need to hear, not just what I want to hear. Excited to start this next phase of life at the same time.</p>
		</div>
		<div class="span2">
		</div>
	</div>
	<br></br>
	<div class="row-fluid">
		<div class="span2">
		</div>
		<div class="span3">
			<%= image_tag("Alex.jpg", alt: "", :class => "party") %>
		</div>
		<div class="span2">
		</div>
		<div class="span3">
			<h3>Alex Duncan</h3>
			<p class="partyText">My favorite Canadian. When Alex moved to Gainesville his Junior year of college, we became instant friends. He introduced me to his joys in life: Arrested Development and Chili's.</p>
		</div>
		<div class="span2">
		</div>
	</div>
	<br></br>
	<div class="row-fluid">
		<div class="span2">
		</div>
		<div class="span3">
			<%= image_tag("Bubba.jpg", alt: "", :class => "party") %>
		</div>
		<div class="span2">
		</div>
		<div class="span3">
			<h3>Jared Gore</h3>
			<p class="partyText">This is my cousin "Bubba". From as far back as I can remember he always took care of me and let me tag along with whatever he was doing. He even picked the smallest, slowest cousin to be his backyard football partner.</p>
		</div>
		<div class="span2">
		</div>
	</div>
	
</div>
